body {
  margin: 0px;
  background-color: #f3eee8;
  font-family: Arial, Helvetica, sans-serif;
}
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
a {
  text-decoration: none;
}
.header-bg {
  background-color: #f3eee8;
}
.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px;
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
}
.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
  font-size: 20px;
  text-decoration: none;
  font-family: "Antonio";
  font-weight: 300;
}
.header-menu a {
  color: #765840;
  display: inline-block;
  padding: 16px 0px;
  text-decoration: none;
}
.header-menu :hover {
  color: #6e764f;
}
.carrossel {
  padding-top: 30px;
  padding-bottom: 30px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.painel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 30px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  color: #42472f;
  font-family: "Antonio";
  font-size: 32px;
}
.painel-ofertas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding-top: 15px;
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
}
.img1 {
  width: 80px;
  height: 80px;
  left: 180px;
}
.ofertas {
  align-items: center;
  display: flex;
  max-width: 1200px;
  justify-content: flex-start;
  border-radius: 4px;
  background-color: rgba(139, 145, 114, 0.35);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 1000px;
  height: 120px;
  padding: 20px;
  margin-bottom: 20px;
}

h2 {
  color: #42472f;
  font-family: "antonio";
  font-size: 26px;
  padding-left: 20px;
  margin: 0%;
}
h3 {
  color: #6e764f;
  font-family: "antonio";
  font-size: 22px;
  padding-left: 20px;
  margin: 0%;
}
h4 {
  color: #42472f;
  font-size: 20px;
  font-family: "antonio";
  padding-left: 20px;
  margin: 0%;
}
.texto-ofertas {
  padding-right: 200px;
}
.botao-oferta {
  box-sizing: border-box;
  color: #f3eee8;
  width: 100px;
  height: 40px;
  background: #6e764f;
  border: 1px solid #6e764f;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
.page-link {
  color: #42472f;
}
.aoferta {
  text-decoration: none;
  color: #f3eee8;
}
.suporte {
  max-width: 1400px;

  display: flex;
  justify-content: end;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}
.suporte1 {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 65px;
  height: 65px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  border: 0px;
}
.footer-bg {
  color: #ffffff;
  background-color: #42472f;
  padding: 20px;
  text-align: center;
  justify-content: center;
  color: #f3eee8;
}
.footer {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-family: "Antonio";
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  color: #f3eee8;
}
.menu {
  text-decoration: none;
  color: #f3eee8;
}
.lista-footer {
  padding-left: 20px;
  text-decoration: none;
  color: #f3eee8;
}
.lista-footer a {
  text-decoration: none;
}
